
@using Auction.BLL.ViewModels;
@using Auction.API.Helpers
@using Newtonsoft.Json;
@{

    CategoriesModel categories = ViewData["Categories"] as CategoriesModel;

List<SelectListItem> orderItems = new List<SelectListItem>()
{
        new SelectListItem(){ Value="Asc", Text = "за зростанням" },
        new SelectListItem(){ Value="Desc", Text="за спаданням"},

};


List<SelectListItem> criterions = new List<SelectListItem>()
{
        new SelectListItem(){ Value="", Text="--"},
        new SelectListItem(){ Value="PriceCriterion", Text="за ціною"},
        new SelectListItem(){ Value="DateCriterion", Text="за датою"}


    };
}



<div class="flex-container">
    <div class="flex-item-row filters-item" id="filtersSection">
        <label> Фільтри:</label>
        <div class="flex-container flex-item-col">

            @using (Ajax.BeginForm("Pages", null, new AjaxOptions { UpdateTargetId = "updatedPage" }, null))
            {
                <div class="flex-item-row">
                    Категорія:
                    @foreach (var item in categories.Categories)
                    {
                        <p>
                            @item.CategoryName <input type="checkbox" id="@item.CategoryId" name="Categories" value="@item.CategoryName" />

                        </p>
                    }
                </div>
                <div class="flex-item-row">
                    Назва:@Html.TextBox("LotName", "", new { id = "txtLotName" })
                </div>
                <div class="flex-item-row">
                    Порядок: @Html.DropDownList("Order", orderItems)
                </div>
                <div class="flex-item-row">
                    Критерій: @Html.DropDownList("Criterion", criterions)
                </div>
                <div class="flex-item-row">
                    <input type="submit" value="Enter" class="btn btn-info" id="btnFiltersSubmit" />
                </div>
            }
            @using(Ajax.BeginForm("Pages", new { page = 1, Filters = "" }, new AjaxOptions { UpdateTargetId = "updatedPage" }, null))
            {
                <input type="submit" value="Зкинути фільтри"  id="btnClearFilters"/>
            }

        </div>
    </div>
    <div class="flex-item-row">
        <div class="flex-container flex-item-col">
            @*Заменить слайдер на свой*@
            <div class="flex-item-row">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel style="height:300px">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active" style="height:300px;">
                            <img src="~/Content/img/Internet-Shopping.jpg" height="300px;">
                            <div class="carousel-caption">
                                <h3>Caption Text</h3>
                            </div>
                        </div>
                        <div class="item" style="height:300px;">
                            <img src="~/Content/img/Internet-Shopping.jpg" height="300px;">
                            <div class="carousel-caption">
                                <h3>Caption Text</h3>
                            </div>
                        </div>
                        <div class="item" style="height:300px;">
                            <img src="~/Content/img/Internet-Shopping.jpg" height="300px;">
                            <div class="carousel-caption">
                                <h3>Caption Text</h3>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div> <!-- Carousel -->
            </div>
            <div class="flex-item-row">
                <div id="updatedPage">
                    @{ 
                        Html.RenderPartial("Pages");

                    }

                </div>

            </div>
        </div>
    </div>
</div>




@section scripts{
    
<script>
        let btnClearFilters = document.querySelector("#btnClearFilters");
        btnClearFilters.addEventListener('click', function () {
            let allChbx = document.getElementsByName('Categories');
            let txtLotName = document.querySelector('#txtLotName');
            txtLotName.value = "";
            let btnClearFilters = document.querySelector("#btnClearFilters");
            for (let i = 0; i < allChbx.length; i++) {
                allChbx[i].checked = false;
            }
        });

</script>
    
    
    
    
}  