@model Auction.BLL.ViewModels.IndexViewModel<LotModel>
@using Auction.BLL.ViewModels;
@using Auction.BLL.LoginModels;
@using Newtonsoft.Json;
@{

    CategoriesModel categories = ViewData["Categories"] as CategoriesModel;
   // Model.FiltersModel.Order = "Asc";
    List<SelectListItem> orderItems = new List<SelectListItem>()
{
        new SelectListItem(){ Value="Asc", Text = "за зростанням" },
        new SelectListItem(){ Value="Desc", Text="за спаданням"},

};


    List<SelectListItem> criterions = new List<SelectListItem>()
    {
        new SelectListItem(){ Value="", Text="--"},
        new SelectListItem(){ Value="PriceCriterion", Text="за ціною"},
        new SelectListItem(){ Value="DateCriterion", Text="за датою"}


    };
}



<div class="flex-container">
    <div class="flex-item-row filters-item" id="filtersSection">
        <label> Фільтри:</label>
        <div class="flex-container flex-item-col">
            @using (Ajax.BeginForm("Index", new { page = 1 }, null, new { id = "filtersForm" }))
            {
            <div class="flex-item-row" id="chbFlags">
                Категорія:
                @foreach (var item in categories.Categories)
                {
                <p>
                    @if (Model.FiltersModel.Categories.Contains(item.CategoryName))
                    {
                        @item.CategoryName <input type="checkbox" id="@item.CategoryId" checked name="Categories" value="@item.CategoryName" />
                    }
                    else
                    {
                        @item.CategoryName <input type="checkbox" id="@item.CategoryId" name="Categories" value="@item.CategoryName" />

                    }
                </p>
                }
            </div>
                <div class="flex-item-row">
                    Назва:@Html.TextBox("LotName", "", new { id = "txtLotName" })
                </div>
                <div class="flex-item-row">
                    Порядок: @Html.DropDownList("Order", orderItems)
                </div>
                <div class="flex-item-row">
                    Критерій: @Html.DropDownList("Criterion", criterions)
                </div>
                <div class="flex-item-row">
                    <input type="submit" value="Enter" class="btn btn-info" id="btnFiltersSubmit" />
                </div>
                if ((User as CustomPrincipal) != null && (User as CustomPrincipal).IsInRole("Admin"))
                {
                    <div>
                        за статусом
                    </div>
                }
            }
            @if ((User as CustomPrincipal) != null && (User as CustomPrincipal).IsInRole("Admin"))
            {
                <div>
                    за статусом
                </div>
            }




            @using (Ajax.BeginForm("Pages", new { page = 1, Filters = "" }, new AjaxOptions { UpdateTargetId = "updatedPage" }, null))
            {
                <input type="submit" value="Зкинути фільтри" id="btnClearFilters" />
            }

        </div>
    </div>
    <div class="flex-item-row">
        <div class="flex-container flex-item-col">
            <div class="flex-item-row">
                <div id="updatedPage">
                    @foreach (var item in Model.Collection)
                    {
                        <div id="lotItem" class="flex-container">
                            <div class="flex-item-row">
                                @{
                                    var picture = item.Pictures.Where(p => p.IsTittle == true).FirstOrDefault();
                                    if (picture == null)
                                    {
                                        <img src="~/Content/img/noImage_search.png" />
                                    }
                                    else
                                    {
                                        string path = Path.GetFileNameWithoutExtension(picture.Name)
                                                    + "_"
                                                    + "search"
                                                    + Path.GetExtension(picture.Name);
                                        <img src="/Pictures/Lots/@picture.LotId/@path" />
                                    }
                                }
                            </div>
                            <div class="flex-item-row lot-details">
                                Назва: @item.LotName
                                <br />
                                Стартова ціна: @item.Price
                                <br />
                                Категорія: @item.Category.CategoryName
                                <br />
                            </div>
                            <div class="flex-item-row">
                                <div class="flex-container flex-item-col">
                                    <div class="flex-item-row">
                                        @Html.ActionLink("Дивитись сторінку", "LotPage", "Lot", new { lotId = item.LotId }, new { @class = "btn btn-info" })
                                    </div>
                                    <div class="flex-item-row">
                                        @{
                                            if ((User as CustomPrincipal) != null && (User as CustomPrincipal).LoginId == item.LoginId)
                                            {
                                                @Html.ActionLink("Редагувати", "Edit", "Lot", new { id = item.LotId }, new { @class = "btn btn-success" });

                                            }

                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>
</div>

<div class="btn-group flex-container" id="btnPages">
    @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
    {


        string str = JsonConvert.SerializeObject(Model.FiltersModel.Categories.ToString());
        string newStr = Model.FiltersModel.Categories.FirstOrDefault();
        //var obj = new { page = i, filters = newStr };
        string link = $"https://localhost:44328/Home/Index?filters={newStr}&page="+i;
        <a href=@link>@i</a>
        @*using (Ajax.BeginForm("Index", new { page = i, filters = str }, new AjaxOptions { UpdateTargetId = "updatedPage" }, new { @class = "flex-item-row", style = "padding:0px;width:30px" }))
        {

            <input type="submit" value="@i" />
        }*@

    }
</div>


@section scripts{

    <script>

        let btnClearFilters = document.querySelector("#btnClearFilters");
        btnClearFilters.addEventListener('click', function () {
            let allChbx = document.getElementsByName('Categories');
            let txtLotName = document.querySelector('#txtLotName');
            txtLotName.value = "";
            let btnClearFilters = document.querySelector("#btnClearFilters");
            for (let i = 0; i < allChbx.length; i++) {
                allChbx[i].checked = false;
            }
        });


    </script>

}