@model Auction.BLL.ViewModels.LotModel
@using Auction.BLL.ViewModels;
@{
    List<SelectListItem> selectCategories = new List<SelectListItem>();
    CategoriesModel categories = ViewData["Categories"] as CategoriesModel;
    foreach (var category in categories.Categories)
    {
        selectCategories.Add(new SelectListItem
        {
            Value = category.CategoryId.ToString(),
            Text = category.CategoryName
        });
    }

}

<h2>Edit</h2>


<div class="flex-container">

    <div class="flex-item-row">
        <div style="width:650px;height:500px">
            @{Html.RenderAction("LotPictures", new { lotId = Model.LotId }); }
        </div>
        <div>
            @using (Html.BeginForm("UploadLotPictures", "Lot", new { lotId = Model.LotId }, FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
            {
                <div class="row form-group">
                    Фото:
                    <div class="col">
                        <input type="file" name="uploadFile" multiple />
                    </div>
                </div>
                <input type="submit" class="btn btn-success" />
            }
        </div>
    </div>


    <div class="flex-item-row">
       
        @using (Html.BeginForm("Edit","Lot",new { lotId=Model.LotId},FormMethod.Post))
        {
            @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>@Model.LotName</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.LotName, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LotName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LotName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-2">
                    @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.CategoryId, "Категорія: ", htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-2">
                    @Html.DropDownList("CategoryId", selectCategories, new { id = "CategoryDDL" })
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.IsSoldOut, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-1">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsSoldOut)
                        @Html.ValidationMessageFor(model => model.IsSoldOut, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Step, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-1">                  
                     @Html.EditorFor(model => model.Step)
                     @Html.ValidationMessageFor(model => model.Step, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.EndAt, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-1">
                    @Model.EndAt
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LotCode, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LotCode, new { htmlAttributes = new { @class = "form-control", disabled = true } })
                    @Html.ValidationMessageFor(model => model.LotCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-1">
                    <input type="submit" value="Оновити" class="btn btn-default" />
                </div>
            </div>
        </div>
        }
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#lightSlider").lightSlider({
            
                gallery: true,
                item: 1,
                loop: true,
                sliderMargin: 0,
                thumbItem: 9,
                vertical: true,
                verticalHeight:501


            });
        })
    </script>


}

