@model Auction.BLL.ViewModels.LotModel
@using Auction.DAL.Models;
@{
    List<SelectListItem> selectCategories = new List<SelectListItem>();
    List<Category> categories = ViewData["Categories"] as List<Category>;
    foreach (var category in categories)
    {
        selectCategories.Add(new SelectListItem
        {
            Value = category.CategoryId.ToString(),
            Text = category.CategoryName
        });
    }

}
<div class="flex-container">

    <div class="flex-item-row">
        <div style="width:650px;height:500px">
            @{Html.RenderAction("LotPictures", new { lotId = Model.LotId });
}
        </div>
        <div>
            @if (!Model.IsSoldOut)
            {
        
                using (Html.BeginForm("UploadLotPictures", "Lot",new { lotId=Model.LotId }, FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
                {
                <div class="row form-group">
                    Фото:
                    <div class="col">
                        <input type="file" name="uploadFile" accept=".jpg,.jpeg,.png" multiple />
                    </div>
                </div>
                <input type="submit" class="btn btn-success" />
            }
            }
        </div>
    </div>


    <div class="flex-item-row">
        @if (Model.IsSoldOut)
        {
            <h1>Лот продано</h1>
        }
        <table >
            <thead>
                <tr>
                    <td>Назва:</td>
                    <td>@Model.LotName</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Стартова ціна:</td>
                    <td>@Model.Price</td>
                </tr>
                <tr>
                    <td>Ціна на даний момент:</td>
                    <td>@Model.CurrentPrice</td>
                </tr>
                <tr>
                    <td>Опис:</td>
                    <td>@Model.Description</td>
                </tr>
                <tr>
                    <td>Код:</td>
                    <td>@Model.LotCode</td>
                </tr>
                <tr>
                    <td>Кінець аукціона:</td>
                    <td>@Model.EndAt</td>
                </tr>
                <tr>
                    <td>Кількість ставок:</td>
                    <td>@Model.Stakes.Count()</td>
                </tr>
            </tbody>
        </table>


    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#lightSlider").lightSlider({
            
                gallery: true,
                item: 1,
                loop: true,
                sliderMargin: 0,
                thumbItem: 9,
                vertical: true,
                verticalHeight:501


            });
        })
    </script>


}

