@model Auction.BLL.ViewModels.LotModel
@using Auction.BLL.LoginModels;
@{
    string picturePrevName = string.Empty;
    string pictureMainName = string.Empty;

}


@{ 
    if (Model.IsSoldOut)
    {
        <h1>Лот продано</h1>
    }
}


<div class="flex-container">
    <div class="flex-item-col" style="width:30%">
        <div id="lightSlider">
            @{ if (Model.Pictures.Count() > 0)
                {
                    foreach (var picture in Model.Pictures)
                    {
                        {
                            picturePrevName = Path.GetFileNameWithoutExtension(picture.Name)
                            + "_"
                            + "gallery"
                            + Path.GetExtension(picture.Name);
                            pictureMainName = Path.GetFileNameWithoutExtension(picture.Name)
                            + "_"
                            + "main"
                            + Path.GetExtension(picture.Name);

                        }

                        <li data-thumb="/Pictures/Lots/@picture.LotId/@picturePrevName">
                            <img src="~/Pictures/Lots/@picture.LotId/@pictureMainName" />
                        </li>
                    }
                }
                else
                {
                    <li data-thumb="/Content/img/noImage_gallery.png">
                        <img src="~/Content/img/noImage_main.png" />
                    </li>

                }
            }
        </div>
    </div>
    <div class="flex-item-col">
        <div id="Success" class="text-success"></div>
        <h2>@Model.LotName</h2>
        <label>Ціна на даний момент: @Model.Price</label><br />
        <label>Опис:</label>
        <div>
            @Model.Description
        </div>
        <br />
        <label>Кінець аукціона: @Model.EndAt</label><br />
        <label>Кількість ставок: @Model.Stakes.Count()</label><br />
        @{

            if ((User as CustomPrincipal) != null && Model.LoginId != (User as CustomPrincipal).LoginId && !Model.IsSoldOut)
            {

                <label>Підтвердити ставку<input type="checkbox" id="chbConfirm" /></label><br />
                using (Html.BeginForm("AddStake", "Stake", new { lotid = Model.LotId }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    var newPrice = Model.Price + Model.Step;
                    <input type="number" name="stake" value="@newPrice" step="50" min="@newPrice" />
                    <input type="submit" value="Зробити ставку" class="btn btn-info" id="btnStake" />
                }


            }
            <div id="validate">

            </div>



        }
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#lightSlider").lightSlider({

                gallery: true,
                item: 1,
                loop: true,
                sliderMargin: 0,
                thumbItem: 9,
                verticalHeight: 501


            });
        })



        let btnStake = document.querySelector("#btnStake");
        if (btnStake != null) {
            btnStake.addEventListener('click', function (e) {
                let chbConfirm = document.querySelector("#chbConfirm");
                if (chbConfirm.checked != true) {
                    e.preventDefault();
                    let validate = document.querySelector("#validate");
                    validate.innerHTML = "Підтвердіть ставку";
                    validate.className = "text-danger";

                }


            });
        }


    </script>
}