@model Auction.BLL.ViewModels.LotModel
@using Auction.BLL.LoginModels;
@{
    string picturePrevName = string.Empty;
    string pictureMainName = string.Empty;

}


@{ 
    if (Model.IsSoldOut)
    {
        <h1>Лот продано</h1>
    }
}


<div class="flex-container">
    <div class="flex-item-col" style="width: 650px; height: 500px">
        <div id="lightSlider">
            @{ if (Model.Pictures.Count() > 0)
                {
                    foreach (var picture in Model.Pictures)
                    {
                        {
                            picturePrevName = Path.GetFileNameWithoutExtension(picture.Name)
                            + "_"
                            + "gallery"
                            + Path.GetExtension(picture.Name);
                            pictureMainName = Path.GetFileNameWithoutExtension(picture.Name)
                            + "_"
                            + "main"
                            + Path.GetExtension(picture.Name);

                        }

                        <li data-thumb="/Pictures/Lots/@picture.LotId/@picturePrevName">
                            <img src="~/Pictures/Lots/@picture.LotId/@pictureMainName"  />
                        </li>
                    }
                }
                else
                {
                    <li data-thumb="/Content/img/noImage_gallery.png">
                        <img src="~/Content/img/noImage_main.png" />
                    </li>

                }
            }
        </div>
    </div>
    
    <div class="flex-item-col">
        <table class="lotTable">
            <thead>
                <tr>
                    <td>Назва:</td><td>@Model.LotName</td>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>Стартова ціна:</td><td>@Model.Price</td>
                </tr>
                <tr>
                    <td>Ціна на даний момент:</td><td>@Model.CurrentPrice</td>
                </tr>
                <tr>
                    <td>Опис:</td><td>@Model.Description</td>
                </tr>
                <tr>
                    <td>Код:</td><td>@Model.LotCode</td>
                </tr>
                <tr>
                    <td>Кінець аукціона:</td><td>@Model.EndAt</td>
                </tr>
                <tr>
                    <td>Кількість ставок:</td><td>@Model.Stakes.Count()</td>
                </tr>
            </tbody>
        </table>
     
        @{

            if ((User as CustomPrincipal) != null && Model.LoginId != (User as CustomPrincipal).LoginId && !Model.IsSoldOut)
            {
                <label>Підтвердити ставку<input type="checkbox" id="chbConfirm" /></label><br />
                using (Html.BeginForm("AddStake", "Stake", new { lotid = Model.LotId }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken();                  
                    <input type="number" id="stake" name="stake" value="@Model.CurrentPrice"  min="@Model.CurrentPrice" />
                    <input type="submit" value="Зробити ставку" class="btn btn-info" id="btnStake" />
                }

            }
            <div id="validate">

            </div>



        }
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#lightSlider").lightSlider({

                gallery: true,
                item: 1,
                loop: true,
                sliderMargin: 0,
                thumbItem: 9,
                verticalHeight: 501


            });
        })

       
        
        


        let btnStake = document.querySelector("#btnStake");
        if (btnStake != null) {
            let minStake = document.querySelector("#stake").value
            btnStake.addEventListener('click', function (e) {
                let chbConfirm = document.querySelector("#chbConfirm");
                let validate = document.querySelector("#validate");
                if (chbConfirm.checked != true) {
                    e.preventDefault();
                    
                    validate.innerHTML = "Підтвердіть ставку";
                    validate.className = "text-danger";

                }
                if (document.querySelector("#stake").value < minStake || document.querySelector("#stake").value>1000000000) {
                    e.preventDefault();

                    validate.innerHTML = `Cтавка не може бути менша за ${minStake} і більше за 1000000000`;
                    validate.className = "text-danger";

                }


            });
        }


    </script>
}